/*start of gobal*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

:root {
  --yellow: #ffc502;
  --bottom-margin: 25px;
  --padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: max-content !important;
  background-image: linear-gradient(to left, #ee3b69, #7445cf);
  padding: var(--padding);
  font-family: "Roboto", sans-serif;
}

/*end of global*/

/*-------------Start of header ----------*/
.nav-bar {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--bottom-margin);
}

.nav-bar li {
  background-color: var(--yellow);
  list-style: none;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  font-weight: 700;
}

.nav-bar li:not(:last-child) {
  margin-right: var(--padding);
}

.header-hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: var(--bottom-margin);
}

.hero-container {
  overflow: hidden;
  grid-row: 1/3;
  height: 400px;
  background-image: url("./img/taco1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: var(--padding);
  justify-content: center;
}

.hero-container h1,
.hero-container p {
  background-color: var(--yellow);
  width: fit-content;
  margin-left: 40px;
  padding: 5px;
}

.item-price {
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-price h6 {
  font-weight: 300;
  font-size: 50px;
}
.item-price p {
  font-size: 1.5rem;
}
/*----------- end of header -------*/

/*------------ start of products -------*/
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: var(--bottom-margin);
}

.products div {
  background-color: white;
  padding: 10px;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-item i {
  font-size: 30px;
}

.product-item h6 {
  font-size: 1.2rem;
}

.product-item p {
  text-align: center;
}

.featured-taco {
  grid-column: 1/5;
  padding: var(--padding) 0;
  display: flex;
  align-items: center;
}

.featured-taco h5 {
  font-size: 1.2rem;
}

.featured-taco p{
  font-size: 1rem;
}

.featured-taco h5,
p {
  margin-bottom: 20px;
  font-weight: 700;
}

.learn-more-btn {
  background-color: var(--yellow);
  text-decoration: none;
  color: black;
  padding: 10px;
  font-weight: 700;
}

/*------------ end of producs-------------*/

/*-----------start of instant grams --------*/
.separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--bottom-margin);
}

.separator hr {
  width: 43%;
  height: 15px;
  border: none;
}

hr.left-side {
  background-image: linear-gradient(to left, var(--yellow), #7445cf);
}

hr.right-side {
  background-image: linear-gradient(to right, var(--yellow), #ee3b69);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--padding);
  /* height: 100px; */
}

.gallery img {
  width: 100%;
  height: calc((100vw - 9 * var(--padding)) / 6);
  object-fit: cover;
}
